<h1>Favorites</h1>
<% if @favorites.empty? %>
      <h2>Nothing your favorites</h2>
    <% else %>
      <h2>Favorites</h2>
      <tr>
        <th>Picture</th>
      </tr>
    <% end %>

  <% @favorites.each do |f| %>
    <tr>
      <td><%= image_tag(@f.image.url) if @f.image && @f.image.url %></td>
    </tr>
  <% end %>
  </table>
<%= link_to "To lists", blogs_path%>
