<h1>Favorites</h1>
<div class="container">
<% @favorites.each do |favorite| %>
  <table>
    
      
   
    <tr>
  <th>Title</th>
</tr>
<tr>
  <td><%= favorite.user.name %></td>
</tr>
<tr>
  <th>Content</th>
</tr>
<tr>
  <td><%= favorite.blog.content %></td>
</tr>

<tr>
  <td><%= image_tag(favorite.blog.image.url) %></td>
</tr>
</table>

<% end %>
</div>
<%= link_to "To lists", blogs_path%>